/* Footer */

footer {
    display: flex;
    background-color: rgb(250, 250, 250);
    height: 20px;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
}

footer h5 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Poiret One';
    font-weight: 600;
}